USE [master]
GO
/****** Object:  Database [BanHang]    Script Date: 7/30/2020 7:13:50 PM ******/
CREATE DATABASE [BanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanHang]
GO
USE [BanHang]
GO
/****** Object:  Table [dbo].[tblDanhMuc]    Script Date: 7/30/2020 7:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDanhMuc](
	[MaDM] [nchar](20) NOT NULL,
	[TenDM] [nchar](200) NULL,
	[GhiChu] [ntext] NULL,
	[MoTa] [ntext] NULL,
	[STT] [int] NULL,
 CONSTRAINT [PK_tblDanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tblDanhMuc] ([MaDM], [TenDM], [GhiChu], [MoTa], [STT]) VALUES (N'DM02                ', N'dm0001                                                                                                                                                                                                  ', N'ghi chu sua', N'mota sua', 1)
INSERT [dbo].[tblDanhMuc] ([MaDM], [TenDM], [GhiChu], [MoTa], [STT]) VALUES (N'DM03                ', N'dm0001                                                                                                                                                                                                  ', N'ghi chu sua', N'mota sua', 1)
USE [master]
GO
